{
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["@/components", "./src/components"],
          ["@/layout", "./src/layout"],
          ["@/pages", "./src/pages"],
          ["@/styles", "./src/styles"]
        ],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "plugins": ["react", "react-hooks", "import", "jsx-a11y", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "prettier",
    "airbnb"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/no-danger": "error",
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-console": "error",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-useless-concat": "error",
    "object-curly-newline": "off",
    "operator-linebreak": "off", // Solving conflict with Prettier
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  }
}
